body{
    font-family: Arial, sans-serif;
    background-color: #26cc794b;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: bolder;

}

h2 {
    font-size: 48px;
    margin: 20px 0;
    color: #007BFF;
    font-weight: bolder;

}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #0400f7;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 0 10px;
    font-weight: bolder;

}

button:hover {
    background-color: #000000;
}